
html, body { height: 100%; background: url("../img/001.png") no-repeat center center; background-size: cover; }

.app-body { height: 800px; width: 390px; overflow: hidden; position: relative; }
.m-btn { position: absolute; right: 10px; top: 10px; width: 20px; height: 20px; border: 2px solid white; border-radius: 50%;}
.m-btn { background: black url("../img/switch.png") 50% 50%/100% 100% no-repeat; opacity: 0.5; z-index: 99;}

.ele { position: absolute; }
.ele img { width: 100%;}

.m-btn { animation: key-btn 600ms ease infinite; }
.loop { animation: key-loop 6s ease infinite; }
.breathe { animation: key-loop2 3s ease infinite; }
.intro { animation: key-fill 800ms ease both; }
.intro2 { animation: key-grow 800ms ease both; }
.swing { animation: key-swing 5s none infinite; transform-origin: 50% 0; }

@keyframes key-btn {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}
@keyframes key-fill {
    from { opacity: 0; transform: scale(1.1); }
}
@keyframes key-grow {
    0% { transform: translateY(100px); opacity: 0 }
    50% { transform: translateY(-10px); }
}
@keyframes key-drop {
    0% { transform: translateY(-100px); opacity: 0 }
    50% { transform: translateY(10px); }
}
@keyframes key-swing {
    0% { transform: rotate(2deg); }
    50% { transform: rotate(-4deg); }
    100% { transform: rotate(2deg); }
}
@keyframes key-loop {
    20% { opacity: 0; transform: scale(2) translate(20px,-10px); }
    30% { opacity: 0; transform: scale(1.1) translate(-20px,10px); }
    50% { opacity: 1; transform: scale(1); }
}
@keyframes key-loop2 {
    50% { transform: scale(1.02) translateY(-3px); }
}
